<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="button.css">
</head>
<body>
    <nav class="navegacao">
        <a href="/" aria-current="page">Home</a>
    </nav>
    <div class="container">
        <button class="button primary-button">Botao 1</button>
        <button class="button outline-button">Botao 2</button>
        <button class="button destructive-button">Excluir</button>
        
        <button class="button icon-button">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
              <path d="M12 5v14M5 12h14" />
            </svg>
            Adicionar
        </button>

        <button class="button primary-button loading" disabled>
            <span class="spinner"></span>
                Salvando...
        </button>

        <button id="toggleButton" class="button outline-button">Ativar</button>

        <button id="loadButton" class="button primary-button">Carregar</button>

        <button class="button ghost-button">Ver mais</button>
    </div>

    

    <script src="button.js"></script>
</body>
</html>