.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 220px;
    height: 100vh;
    background: #111;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 20px;
  }

  .sidebar nav { 
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  .sidebar a {
    color: #ccc;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    transition: 0.2s;
  }
  
  .sidebar a:hover {
    color: #fff;
    transform: translateX(4px);
  }
  
  .logo {
    font-size: 1.4rem;
    color: #fff;
    padding: 20px;

  }