<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sidebar Animada</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="sidebar" id="sidebar">
    
    <div class="sidebar-content">
      <a href="/index.html" class="sidebar-item">Home</a>
      <a href="/src/components/sidebar/sidebar.html" class="sidebar-item">Sidebars</a>
      <a href="#" class="sidebar-item">Blog</a>
      <a href="#" class="sidebar-item">Contato</a>
    </div>
  </div>

  <main class="content">
    <button class="toggle-btn" id="toggleButton">☰</button>
    <h1>Bem-vindo!</h1>
  </main>
  

  <script src="script.js"></script>
</body>
</html>
