<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="modal.css">
    <link rel="stylesheet" href="/src/components/button/button.css">
</head>
<body>
    <nav class="navegacao">
        <a href="/" aria-current="page">Home</a>
    </nav>
    <div class="container">
        <button id="openModal" class="button primary-button">Abrir modal</button>

        
        <div id="modal" class="modal">
            <div class="modal-content">
              <h2>Título do Modal</h2>
              <p>Conteúdo do modal aqui!</p>
              <button id="closeModal" class="button outline-button">Fechar</button>
            </div>
        </div>
        
        <button id="openConfirm" class="button destructive-button">Excluir item</button>

        <div id="confirmModal" class="modal">
        <div class="modal-content">
            <h2>Tem certeza?</h2>
            <p>Essa ação não poderá ser desfeita.</p>
            <div class="modal-content2" >
                <button id="cancelConfirm" class="button outline-button">Cancelar</button>
                <button id="confirmDelete" class="button destructive-button">Excluir</button>
            </div>
        </div>
        </div>
        

        <button id="openForm" class="button primary-button">Modal Formulario</button>

        <div id="formModal" class="modal">
            <div class="modal-content">
                <h2>Cadastrar usuário</h2>
                <form id="userForm">
                <input type="text"  placeholder="Nome"   required   class="formInput">
                <input type="email" placeholder="Email"  required   class="formInput">
                <div class="formButton" >
                    <button type="button" id="cancelForm" class="button outline-button">Cancelar</button>
                    <button type="submit" class="button primary-button">Salvar</button>
                </div>
                </form>
            </div>
        </div>

        <button id="openDarkModal" class="button ghost-button">Abrir modal escuro</button>

        <div id="darkModal" class="modal dark">
        <div class="modal-content">
            <h2 class="dark-mode">Modo Escuro</h2>
            <p class="dark-local">Este é um modal com tema dark.</p>
            <button id="closeDark" class="button outline-button">Fechar</button>
        </div>
        </div>


    </div>
    



    <script src="modal.js"></script>
</body>
</html>