<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="dropdown">
        <button class="dropdown-button">Opções ▾</button>
        <div class="dropdown-menu">
          <div class="dropdown-item"><a href="/src/components/dropdown-menu/dropdown.html">Dropdowns</a></div>
          <div class="dropdown-item">Configurações</div>
          <div class="dropdown-item">Sair</div>
    </div>

    <script src="script.js"></script>
</body>
</html>