<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1 class="titulo">Menu Navbars</h1>
    <nav class="navegacao">
        <a class="home-index" href="/index.html">Home</a>
        <a class="home-index" href="/src/components/navbar/classic-navbar/navbar-classica.html">Classica</a>
        <a class="home-index" href="/src/components/navbar/hamburguer-navbar/navbar-hamburguer.html">Hamburguer</a>
        <a class="home-index" href="/src/components/navbar/search-navbar/search-navbar.html">Busca</a>
        <a class="home-index" href="/src/components/navbar/translucide-navbar/navbar-translucide.html">Translucida</a>
        <a class="home-index" href="/src/components/navbar/animated-navbar/animated-navbar.html">Animada</a>
      </nav>

    <script src="navbar.js"></script>
</body>
</html>