<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="navbar.css">
</head>
<body>
    <nav class="navbar">
        <div class="nav-logo">MySite</div>
        <button class="menu-button" id="menuButton">☰</button>
        <div class="nav-links" id="navLinks">
          <a href="navbar.html">Navbars</a>
          <a href="#">Home</a>
          <a href="#">Blog</a>
          <a href="#">Contato</a>
          <a href="#">Sobre</a>
        </div>
      </nav>
      <div class="message">
        <h1 class="message">MUDE PARA A EMULAÇÃO DE DISPOSITIVO MOVEL</h1>
      </div>
      
    <script src="navbar.js"></script>
</body>
</html>