<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav class="navegacao">
        <a href="/index.html">Home</a>
        <a href="/src/components/navbar/navbar-classica.html">Classica</a>
        <a href="/src/components/navbar/navbar-hamburguer.html">Hamburguer</a>
      </nav>

    <script src="navbar.js"></script>
</body>
</html>