<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="/src/components/button/button.css">
</head>
<body>
    
    <nav class="nav-search">
        <div class="nav-logo">Searchify</div>
        <a href="/index.html">Home</a>
        <a href="/src/components/navbar/navbar.html">Navbars</a>
        <input type="text" id="searchInput" placeholder="Buscar..." />
        <button id="searchButton" class = "button outline-button">🔍</button>
    </nav>

    <script src="navbar.js"></script>
</body>
</html>