<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/src/components/button/button.css">
    <link rel="stylesheet" href="/src/components/navbar/navbar.css">
</head>
<body class="translucide-body">
    <nav class="glass-nav">
        <a href="#" class="glass-nav-logo">Vidro.</a>
        <ul class="glass-nav-links">
          <li><a href="/index.html">Home</a></li>
          <a href="/src/components/navbar/navbar.html">Navbars</a>
          <li><a href="#">Sobre</a></li>
        </ul>
        <a href="#" class="nav-cta">Contato</a>
      </nav>


    <script src="navbar.js"></script>
</body>
</html>