<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="sidebar.css">
</head>
<body>
    <h1 class="titulo">Menu Navbars</h1>
    <nav class="navegacao">
        <a href="/index.html">Home</a>
        <a href="/src/components/sidebar/classic-sidebar/index.html">Classic</a>
        <a href="/src/components/sidebar/interactive-sidebar/index.html">Colapse</a>
        <a href="/src/components/sidebar/fluid-sidebar/index.html">Fluid</a>
    </nav>
    
</body>
</html>