<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
  <div class="dropdown" data-dropdown>
  
    <button class="dropdown__trigger" data-dropdown-trigger aria-haspopup="true" aria-expanded="false">
      Abrir Menu
      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="m6 9 6 6 6-6"/>
      </svg>
    </button>
  
    <div class="dropdown__menu" role="menu">
      <button class="dropdown__item" role="menuitem">
        <a href="/src/components/dropdown-menu/dropdown.html">Dropdowns</a>
      </button>
      <button class="dropdown__item" role="menuitem">
        Configurações
      </button>
      <button class="dropdown__item" role="menuitem">
        Equipe
      </button>
      
      <div class="dropdown__separator"></div>
      <button class="dropdown__item dropdown__item--danger" role="menuitem">
        Sair
      </button>
    </div>
  
  </div>
    <script src="script.js"></script>
</body>
</html>